<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Farm App_Passing Images Via Segue Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FCA0228D1C8E84D000560778</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCA022A11C8E84D000560778</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCA022AC1C8E84D000560778</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
